// TRIP CARD

.card {
  display: grid;
  grid-template-rows: 35% 65%;
  width: 23vw;
  height: 35vw;
  border-radius: 3px;
  box-shadow: $shadow-heavy;
}

.card-top {
  display: grid;
  grid-template-rows: 50% 50%;
  padding: 1%;
  border-radius: 3px 3px 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.arrow {
  background-repeat: no-repeat;
  width: 3vw;
  height: 3vw;
  padding: 5% 0 0 5%;
}

.card-top-lower-half {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 3%;

  h2 {
    justify-items: center;
    padding: 3% 5% 3% 5%;
    margin-bottom: 1%;
    font-size: 1.5vw;
    font-weight: bold;
    color:hsl(214, 70%, 6%);
    background-color:rgba(125, 218, 246, 0.541);
    box-shadow: $shadow-light;
  }
}

.card-bottom {
  display: grid;
  grid-template-rows: 23% 23% 23% 23%;
  // justify-content: flex-start;
  align-items: space-between;
  padding: 1.6vw;
  border-radius: 0 0 3px 3px;
  background: rgba(255, 255, 255, 0.829);
}

.trip-info {
  flex-direction: column;
  width: 100%;
  margin: 5% 2% 3% 2%;

  h3 {
    font-size: 1.5vw;
    margin-bottom: 0.5vw;
  }
}

.data-small {
  font-size: 1.25vw;
  margin: 0.5vw auto 0.5vw auto;
  color: rgb(51, 10, 173)
}

.no-match {
  font-size: 2vw;
  color: $offwhite;
}