.login {
  display: flex;
  min-height: 80vh;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.login-box {
  display: grid;
  grid-template-rows: 50% 50%;
}

.logo-big {
  align-self: center;
  justify-self: center;
  height: 100%;
  margin-top: 2vw;
  margin-bottom: 4vw;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  input, label {
    max-width: 15vw;
    align-self: center;
    margin-bottom: 2vw;
  }
}

.login-button {
  margin-top: 1vw;
  width: 6vw;
  align-self: center;
  cursor: pointer;

  &:hover {
    background-color: rgba(104, 202, 255, 0.811);
  }
}

// add responsive sizing to input boxes