// MAIN SECTION

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  z-index: 0;
  display: grid;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #b64c88c0;
  background-image: linear-gradient(240deg, #ff3caaaf 0%, #784BA0 40%, #2B86C5 100%);
  font-family: $primary-font;
}

main {
  display: flex;
  justify-content: center;
  height: 100%;
}

// CARD GRID

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 94%;
  height: 100%;
}

/** four card width **/

.grid-title {
  display: flex;
  align-items: center;
  height: 3vw;
  margin: 4% 0 4% 1.5%;
  font-size: 3.5vw;
  font-weight: 400;
  color: rgba(181, 249, 250, 0.849);
}

.card-grid {
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  grid-row-gap: 1.5%;
  justify-content: space-evenly;
  align-content: flex-start;
  width: 100%;
  height: 100%;
  margin-bottom: 5%;
}

/** three card width **/

@media screen and (min-width: 626px) and (max-width: 1050px) {
  .grid-title {
    font-size: 4vw;
    margin: 5% 0 5% 1.5%;
  }

  .card-grid {
    grid-template-columns: 31% 31% 31%;
    grid-row-gap: 1.75%;
  }
}

/** two card width **/

@media screen and (min-width: 375px) and (max-width: 625px) {
  .grid-title {
    margin: 5% 0 5% 2.7%;
    font-size: 4.5vw;
  }

  .card-grid {
    grid-template-columns: 45% 45%;
    grid-column-gap: 1.5%;
    grid-row-gap: 1.75%;
  }
}

/** one card width **/

@media screen and (max-width: 375px) {
  .grid-title {
    margin: 8% 0 7% 10%;
    font-size: 5.5vw;
  }
  
  .card-grid {
    grid-template-columns: 80%;
    grid-row-gap: 1%;
  }
}

// TOGGLED CLASSES

.hidden {
  display: none;
}

.noscroll {
  overflow: hidden;
}