// NAV BAR

header {
  display: grid;
  height: 100%;
  grid-template-columns: 25% 50% 25%;
  background: $primary-header;
  border-bottom: 0.1em solid rgba(6, 10, 21, 0.274);
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
  0.3em 0.2em 0.1em rgba(0, 0, 0, 0.2);
}

// LEFT SIDE

.nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  margin-bottom: 1%;
}

.logo-container {
  max-height: 80%;
  padding: 1em;
}

.logo {
  height: 80%;
  max-width: 9vw;
  max-height: 9vw;
  justify-self: center;
  align-self: center;
}

// CENTER

.nav-center {
  display: grid;
  grid-template-rows: 60% 40%;
  align-items: space-between;

  .title {
    justify-self: center;
    align-self: center;
    margin: 0%;
    font-size: 5vw;
    color: rgba(1, 3, 5, 0.77);
  }
}

.nav-buttons {
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  width: 100%;
  justify-content: space-evenly;
  align-items: flex-end;
  margin-bottom: 2%;

  button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-self: center;
    width: 11vw;
    height: 3.5vw;
    padding: 3%;
    margin: 1% 3% 1% 3%;
    color: $white;
    background-color: $primary-dark;
    font-size: 1.3vw;
    cursor: pointer;
  }

  i {
    margin: 0.5em;
  }
}

// RIGHT SIDE

.nav-right {
  display: grid;
  grid-template-rows: 60% 40%;
  margin-bottom: 2%;
}

.upper-right-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  p {
    flex-direction: row wrap;
    justify-self: center;
    margin: 10% 1% auto 10%;
    font-size: 2vw;
    font-weight: bold;
    color:rgba(49, 22, 222, 0.938);
  }

  button {
    width: 9vw;
    height: 2.5vw;
    font-size: 1.25vw;
    margin: 10% 7% 2% 1%;
    color: $white;
    background-color: $primary-dark;
  }
}

.lower-right-nav {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 3%;
  font-size: 1.5vw;
}