// COLORS

$primary-background: linear-gradient(#ffffff, #ecf6f5);
$primary-header: linear-gradient(#eaf6fae1, #53b9e9);
$primary-accent: rgba(249, 215, 78, 0.489);
$primary-dark: rgba(21, 28, 63, 0.756);

$white: #ffffff;
$offwhite: #ffffffa1;

$shadow-heavy: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
0.3em 0.3em 0.3em 0.1em rgba(0, 0, 0, 0.2),
0.5em 0.5em 0.5em 0.2em rgba(0, 0, 0, 0.2);

$shadow-light: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
0.3em 0.2em 0.1em rgba(0, 0, 0, 0.2);

// FONTS

$primary-font: 'Rubik', sans-serif;